{% load i18n %}

<div id="right-categories">
    <ul class="nav nav-pills nav-stacked red">
        {% get_current_language as LANGUAGE_CODE %}
        {% ifequal LANGUAGE_CODE 'uk' %}
            {% for category in categories %}
                <li>
                    <a class="categories" href="{% url 'category' slug=category.slug %}">
                        <span class="{{ category.icon }}"></span>&nbsp;
                        {{ category.name_ua }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            {% for category in categories %}
                <li>
                    <a class="categories" href="{% url 'category' slug=category.slug %}">
                        <span class="{{ category.icon }}"></span>&nbsp;
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        {% endifequal %}
    </ul>
</div>

<div id="right-categories" class="extra-cat">
    <ul class="nav nav-pills nav-stacked red extra-cat-list">
        <li>
            <a class="categories" href="{% url 'events' %}">
                <span class="glyphicon glyphicon-globe"></span>&nbsp;
                {% trans 'События' %}
            </a>
        </li>
        <li>
            <a class="categories" href="{% url 'facts' %}">
                <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;
                {% trans 'Интересные факты' %}
            </a>
        </li>
    </ul>
</div>