{% extends 'base.html' %}

{% load staticfiles %}
{% load new_events_facts %}
{% load thumbnail %}
{% load i18n %}
{% load compress %}

{% block title %}
    <title>{{ event.title }} | Just double i</title>
{% endblock %}

{% block meta_desc %}
	<meta name="keywords" content="{{ event.title }}">
    <meta name="description" content="{{ event.title }}">
{% endblock %}

{% block loadfiles %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/event.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/new-posts.css" %}" />
	{% endcompress %}

	{% compress js %}
	<script src="{% static "js/new.js" %}"></script>
	{% endcompress %}
{% endblock %}

{% block section %}
	<span id="logo-section">{% trans 'События' %}</span>
{% endblock %}

{% block events %}
	<div class="event">
		<div class="event-title">
			<p>{{ event.title }}</p>
		</div>
		<div class="event-info">
			<div class="event-info-date-place">
				<p>Дата: {{ event.ev_date }}</p>
				<p>Место: {{ event.ev_place }}</p>
			</div>
			<div class="event-img">
				{% thumbnail event.image "300" as im %}
					<img src="{{ im.url }}">
				{% endthumbnail %}
			</div>
		</div>
		<hr>
		<div class="event-content">
			<p>{{ event.content|safe }}</p>
		</div>
	</div>

	{% block events_facts %}
    {% get_new_events_facts %}
    {% endblock %}
{% endblock %}