{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load compress %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    <title>Just double i</title>
{% endblock %}

{% block meta_desc %}
	<meta name="keywords" content="Just double i">
    <meta name="description" content="Just double i">
{% endblock %}

{% block loadfiles %}
    {% compress css %}
	<link rel="stylesheet" type="text/css" href='{% static "css/slider.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/home-posts.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/home-events-facts.css" %}'>
    {% endcompress %}

    {% compress js %}
    <script src='{% static "js/slider.js" %}'></script>
    {% endcompress %}
{% endblock %}

{% block home %}

<div class="row">
    <div class="left col-lg-5 col-md-5 ls-hidden">
        <div class="left-panel">

            <div class="Wrap hidden-sm hidden-xs">
               <div class="slideWrp">
               		{% for rand_post in rand_posts %}
	                    <div class="thumbnail slide-block">
	                        {% thumbnail rand_post.image "500" as im %}
	                        	<div class="slide-block-img" style="background-image: url({{ im.url }});"></div>
	                        {% endthumbnail %}
	                        <div class="caption">
	                            <a href="{% url 'view_post' pk=rand_post.pk %}">
	                            	<h3>{{ rand_post.title}}</h3>
	                            </a>
	                            <p>{{ rand_post.description|safe|truncatewords:20 }}</p>
	                        </div>
	                    </div>
                    {% endfor %}
                </div>
                <div class="indexActivate">
                    <ul id="points">
                        <li num="1"></li>
                        <li num="2"></li>
                        <li num="3"></li>
                        <li num="4"></li>
                        <li num="5"></li>
                    </ul>
                </div>
            </div>

            <div class="events hidden-sm hidden-xs">
                <div class="section-title">
                	<a href="{% url 'events' %}">
                    	<h4>{% trans 'События' %}</h4>
                    </a>
                </div>
                <ul class="nav nav-pills nav-stacked blue">
                	{% for event in events %}
	                    <li>
	                        <div class="media">
	                            <div class="media-left events-img">
	                                <a href="{% url 'event' pk=event.pk %}">
	                                	{% thumbnail event.image "200" as im %}
											<img class="media-object" width="150px" src="{{ im.url }}" alt="{{ event.title }}">
	                        			{% endthumbnail %}
	                                </a>
	                            </div>
	                            <div class="media-body">
	                            	<p>{{ event.ev_date }}</p>
	                                <h4 class="media-heading">
	                                    <a href="{% url 'event' pk=event.pk %}">{{ event.title|truncatewords:7 }}</a>
	                                </h4>
	                            </div>
	                        </div>
	                    </li>
	                {% endfor %}
                </ul>
            </div>

            <br>

            <div class="events hidden-sm hidden-xs">
                <div class="section-title">
                    <a href="{% url 'facts' %}">
                    	<h4>{% trans 'Интересные факты' %}</h4>
                    </a>
                </div>
                <ul class="nav nav-pills nav-stacked blue">
                	{% for fact in facts %}
	                    <li>
	                        <div class="media">
	                            <div class="media-left events-img">
	                                <a href="{% url 'fact' pk=fact.pk %}">
	                                	{% thumbnail fact.image "200" as im %}
	                                    	<img class="media-object" width="150px" src="{{ im.url }}" alt="{{ fact.title }}">
	                                    {% endthumbnail %}
	                                </a>
	                            </div>
	                            <div class="media-body">
	                                <h4 class="media-heading">
	                                    <a  href="{% url 'fact' pk=fact.pk %}">{{ fact.title|truncatewords:7 }}</a>
	                                </h4>
	                            </div>
	                        </div>
	                    </li>
	                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="main col-lg-7 col-md-7 col-ls-12">
        <div class="container-fluid main">

        	{% for last_post in last_posts %}
        		<a class="main-post-link" href="{% url 'view_post' pk=last_post.pk %}">
        			{% thumbnail last_post.image "600" as im %}
			            <div class="main-post-inner" style="background-image: url({{ im.url }});">
			                <div class="main-post-inner-desc" >
			                    <div class="main-post-title">

			                        <div class="main-post-title-desc">
			                            {% ifequal LANGUAGE_CODE 'uk' %}
						                    <span>{{ last_post.category.name_ua }}</span>
						                {% else %}
						                    <span>{{ last_post.category }}</span>
						                {% endifequal %}
			                        </div>

			                        <div class="main-post-title-t">
		                            	<span class="main-title">{{ last_post.title|truncatewords:7 }}</span>
			                        </div>
			                    </div>
			                </div>
			            </div>
		            {% endthumbnail %}
	            </a>
            	<div class="underliner"></div>
            {% endfor %}
        </div>


        <div class="events hidden-md hidden-lg">
            <div class="section-title">
            	<a href="{% url 'events' %}">
                	<span>{% trans 'События' %}</span>
                </a>
            </div>
            <ul class="nav nav-pills nav-stacked blue">
            	{% for event in events %}
                    <li>
                        <div class="media">
                            <div class="media-left events-img">
                                <a href="{% url 'event' pk=event.pk %}">
                                	{% thumbnail event.image "200" as im %}
										<img class="media-object" width="150px" src="{{ im.url }}" alt="{{ event.title }}">
                        			{% endthumbnail %}
                                </a>
                            </div>
                            <div class="media-body">
                            	<p class="hidden-xs hidden-sm">{{ event.ev_date }}</p>
                                <a class="media-heading hidden-lg hidden-md" href="{% url 'event' pk=event.pk %}">{{ event.title|truncatewords:7 }}</a>
                                <a class="media-heading hidden-xs hidden-sm" href="{% url 'event' pk=event.pk %}">{{ event.title }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <br>

        <div class="events hidden-md hidden-lg">
            <div class="section-title">
                <a href="{% url 'facts' %}">
                	<span>{% trans 'Интересные факты' %}</span>
                </a>
            </div>
            <ul class="nav nav-pills nav-stacked blue">
            	{% for fact in facts %}
                    <li>
                        <div class="media">
                            <div class="media-left events-img">
                                <a href="{% url 'fact' pk=fact.pk %}">
                                	{% thumbnail fact.image "200" as im %}
                                    	<img class="media-object" width="150px" src="{{ im.url }}" alt="{{ fact.title }}">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            <div class="media-body">
                                <a class="media-heading hidden-lg hidden-md" href="{% url 'fact' pk=fact.pk %}">
                                    {{ fact.title|truncatewords:7 }}
                                </a>
                                <a class="media-heading hidden-xs hidden-sm" href="{% url 'fact' pk=fact.pk %}">
                                    {{ fact.title }}
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}